*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.modal{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0,0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modal :checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
#btn-modal :checked ~ .modal .contenedor{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    width: 400px;
    height: 30px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
.contenedor header{
    padding: 10px;
    background: #db8046;
    color: #fff;
}
.contenedor label{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

}
#btn-modal{
    display: none;
}
.lbl-modal{
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}