:root{
    --main-header-color:linear-gradient(45deg,#ef971e,#ffbc6a);
    --mian-red:#c71212;
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}
header{
    height: 40px;
    padding: 10px;
    width: calc(100% - 20px);
    line-height: 40px;
    display: flex;
    background: var(--main-header-color);
    position: fixed;
    top: 0;
    left: 0;
}
.logo-place{
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.logo-place img{
    width: 100%;
}
.search-place{
    width: calc(100% - 440px);
    display: flex;
    padding: 0px 20px;
}
.search-place input{
    padding: 10px;
    font-size: 15px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    width: calc(100%- 62px);
}
.search-place input::placeholder{
    color: #ccc;
}
.btn-main{
    padding: 10px;
    font-size: 15px;
    background-color: #fefefe;
    border-style: none;
    border: 1px solid #ccc;
    cursor: pointer;
}
.btn-search{
    width: 40px;
}
.option-place{
    width: 250px;
    display: flex;
    justify-content: flex-end;
}
.item-option{
    padding: 5px 10px;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.item-paqueterias{
    padding: 5px 10px;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
}
.main-content{
    margin-top: 60px;
    width: 100%;
    font-family: 'Sen', sans-serif;
    background-color: #e3e3e3;
}
.content-page{
    margin: auto;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 1180px;
}
.content-page section{
    display: flex;
    background: #fff;
}

.part1{
    width: calc(60% - 10px);
    padding: 5px;
}
.part12{
    width: calc(60% - 10px);
    padding: 10px;
    text-align: center;
    
}
.part12 image{
    width: 150;
    height: 220;

}
.part22 *{
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.part2{
    padding: 5px;
    width: calc(40%-10px);
}
.part2 *{
    margin: 10PX 0;
    font-family: 'Sen', sans-serif;
    color:999;
    padding: 10px;
}
.part2 h1{
    color:#d86a6a;
}
button{
    border-style: none;
    border-radius: 15px;
    padding: 13px 20px;
    color: #fff;
    background: #d86a6a;
    cursor: pointer;
    font-size: 16px;
}
.button2{
    border-style: none;
    border-radius: 15px;
    padding: 13px 20px;
    color: #fff;
    background: #4b2fee;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}
.part1 img{
    width: 100%;
}
.tittle-section{
    padding: 10px 0;
    font-size: 20px;
    color:#aaa;
    font-family: 'Sen', sans-serif;
}
.product-list{
    display: table;
    width: 100%;
}
.product-box{
    display: inline-table;
    padding: 10px;
    width: calc(100%/5 -20px);
    max-width: inherit;
}
.product-box a{
    text-decoration: none;
}
.product{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px #ccc;
    background-color: #fff;
    font-family: 'Sen', sans-serif;
}
.product img{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
}
.detail-title{
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #999;
    width: calc(100% - 10px );
    height: 40px;
}
.detail-description{
    text-align: center;
    font-size: 18px;
    color: #999;
    padding: 5px;
    width: calc(100% - 10px );
}
.detail-price{
    text-align: center;
    font-size: 25px;
    color: #d86a6a;
    padding: 5px;
    width: calc(100% - 10px );
}
.detail-price span{
    font-size: 15px;
    
}